data_factory_exports/ARM_template_adf/linkedTemplates/ArmTemplate_1.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "datafactoryausins"
        },
        "trigger_on_new_blob_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/b5f807fa-c5eb-4a4d-8357-76a176efc946/resourceGroups/storageaus_rg/providers/Microsoft.Storage/storageAccounts/pipelinestorageacctaus"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/load_transfer_updated_file')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "pre_update_reset",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/FileStore/reset_pre_update.py",
                            "parameters": [
                                "U"
                            ],
                            "libraries": [
                                {
                                    "pypi": {
                                        "package": "azure-storage-blob==12.12.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "beautifulsoup4==4.10.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "requests==2.26.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "mysql-connector-python==8.0.29"
                                    }
                                }
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "fully_authd",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "upsert_final_details",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "copy_staging_details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "details_staging",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "sourcedetails": {},
                                    "sinkdetails": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine",
                            "continueOnError": true
                        }
                    },
                    {
                        "name": "upsert_final__fatalities",
                        "type": "ExecuteDataFlow",
                        "dependsOn": [
                            {
                                "activity": "copy_staging_fatalities",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "1.00:00:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataflow": {
                                "referenceName": "fatalities_staging",
                                "type": "DataFlowReference",
                                "parameters": {},
                                "datasetParameters": {
                                    "sourcefatalities": {},
                                    "sinkfatalities": {}
                                }
                            },
                            "staging": {},
                            "compute": {
                                "coreCount": 8,
                                "computeType": "General"
                            },
                            "traceLevel": "Fine",
                            "continueOnError": true
                        }
                    },
                    {
                        "name": "copy_staging_details",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "pre_update_reset",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFolderPath": "details",
                                    "wildcardFileName": "*.gz",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "AzureMySqlSink",
                                "writeBatchSize": 10000,
                                "writeBatchTimeout": "00:00:30"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "name": "BEGIN_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_DAY",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_DAY",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_TIME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_TIME",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_DAY",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_DAY",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_TIME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_TIME",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EPISODE_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EPISODE_ID",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EVENT_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EVENT_ID",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "STATE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "STATE",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "STATE_FIPS",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "STATE_FIPS",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "YEAR",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "YEAR",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "MONTH_NAME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "MONTH_NAME",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EVENT_TYPE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EVENT_TYPE",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CZ_TYPE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CZ_TYPE",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CZ_FIPS",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CZ_FIPS",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CZ_NAME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CZ_NAME",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "WFO",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "WFO",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_DATE_TIME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_DATE_TIME",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CZ_TIMEZONE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CZ_TIMEZONE",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_DATE_TIME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_DATE_TIME",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "INJURIES_DIRECT",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "INJURIES_DIRECT",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "INJURIES_INDIRECT",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "INJURIES_INDIRECT",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "DEATHS_DIRECT",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "DEATHS_DIRECT",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "DEATHS_INDIRECT",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "DEATHS_INDIRECT",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "DAMAGE_PROPERTY",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "DAMAGE_PROPERTY",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "DAMAGE_CROPS",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "DAMAGE_CROPS",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "SOURCE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "SOURCE",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "MAGNITUDE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "MAGNITUDE",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "MAGNITUDE_TYPE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "MAGNITUDE_TYPE",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FLOOD_CAUSE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FLOOD_CAUSE",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "CATEGORY",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "CATEGORY",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TOR_F_SCALE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TOR_F_SCALE",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TOR_LENGTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TOR_LENGTH",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TOR_WIDTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TOR_WIDTH",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TOR_OTHER_WFO",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TOR_OTHER_WFO",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TOR_OTHER_CZ_STATE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TOR_OTHER_CZ_STATE",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TOR_OTHER_CZ_FIPS",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TOR_OTHER_CZ_FIPS",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "TOR_OTHER_CZ_NAME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "TOR_OTHER_CZ_NAME",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_RANGE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_RANGE",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_AZIMUTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_AZIMUTH",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_LOCATION",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_LOCATION",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_RANGE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_RANGE",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_AZIMUTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_AZIMUTH",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_LOCATION",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_LOCATION",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_LAT",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_LAT",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "BEGIN_LON",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "BEGIN_LON",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_LAT",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_LAT",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "END_LON",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "END_LON",
                                            "type": "Decimal",
                                            "physicalType": "decimal"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EPISODE_NARRATIVE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EPISODE_NARRATIVE",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EVENT_NARRATIVE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EVENT_NARRATIVE",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "DATA_SOURCE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "DATA_SOURCE",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    }
                                ],
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "input_new_details_gz",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "output_staging_details_mysql",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "copy_staging_fatalities",
                        "type": "Copy",
                        "dependsOn": [
                            {
                                "activity": "pre_update_reset",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFolderPath": "fatalities",
                                    "wildcardFileName": "*.gz",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "AzureMySqlSink",
                                "writeBatchSize": 10000,
                                "writeBatchTimeout": "00:00:30"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "mappings": [
                                    {
                                        "source": {
                                            "name": "FAT_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FAT_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FAT_DAY",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FAT_DAY",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FAT_TIME",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FAT_TIME",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FATALITY_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FATALITY_ID",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EVENT_ID",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EVENT_ID",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FATALITY_TYPE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FATALITY_TYPE",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FATALITY_DATE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FATALITY_DATE",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FATALITY_AGE",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FATALITY_AGE",
                                            "type": "Int32",
                                            "physicalType": "int"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FATALITY_SEX",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FATALITY_SEX",
                                            "type": "String",
                                            "physicalType": "char"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "FATALITY_LOCATION",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "FATALITY_LOCATION",
                                            "type": "String",
                                            "physicalType": "text"
                                        }
                                    },
                                    {
                                        "source": {
                                            "name": "EVENT_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "String"
                                        },
                                        "sink": {
                                            "name": "EVENT_YEARMONTH",
                                            "type": "String",
                                            "physicalType": "varchar"
                                        }
                                    }
                                ],
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "input_new_fatalities_gz",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "output_staging_fatalities_mysql",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "clean_both_containers",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "upsert_final_details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "upsert_final__fatalities",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 3600,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/FileStore/datalake_housekeeping_upd.py",
                            "parameters": [],
                            "libraries": [
                                {
                                    "pypi": {
                                        "package": "mysql-connector-python==8.0.29"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "azure-storage-blob==12.12.0"
                                    }
                                }
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "fully_authd",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2022-07-23T13:12:14Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/trigger_on_new_blob')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "load_transfer_updated_file",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathEndsWith": "csv.gz",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('trigger_on_new_blob_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/load_transfer_updated_file')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/extract_new_file')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "search_source4new",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/FileStore/new_file_to_blob_only.py",
                            "parameters": [],
                            "libraries": [
                                {
                                    "pypi": {
                                        "package": "azure-storage-blob==12.12.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "beautifulsoup4==4.10.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "requests==2.26.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "mysql-connector-python==8.0.29"
                                    }
                                }
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "fully_authd",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "exec_new_pipe_iftrue",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "lookup_new_file",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@greater(\n    length(array(activity('lookup_new_file').output)),\n    0\n) \n",
                                "type": "Expression"
                            },
                            "ifFalseActivities": [
                                {
                                    "name": "FailNoNewFound",
                                    "type": "Fail",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "message": "No New File Found",
                                        "errorCode": "500"
                                    }
                                }
                            ],
                            "ifTrueActivities": [
                                {
                                    "name": "execute_new_pipe",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "load_transfer_new_file",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": false,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "lookup_new_file",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "search_source4new",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFolderPath": "details",
                                    "wildcardFileName": "*.gz",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "input_new_details_gz",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": true
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2022-07-23T13:12:15Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/extract_updated_file')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "search_source4upd",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/FileStore/updated_file_to_blob_only.py",
                            "parameters": [],
                            "libraries": [
                                {
                                    "pypi": {
                                        "package": "azure-storage-blob==12.12.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "beautifulsoup4==4.10.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "requests==2.26.0"
                                    }
                                },
                                {
                                    "pypi": {
                                        "package": "mysql-connector-python==8.0.29"
                                    }
                                }
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "fully_authd",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "exec_upd_pipe_iftrue",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "lookup_upd_file",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@greater(\n    length(array(activity('lookup_upd_file').output)),\n    0\n)",
                                "type": "Expression"
                            },
                            "ifFalseActivities": [
                                {
                                    "name": "FailNoUpdFound",
                                    "type": "Fail",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "message": "No Updated File Found",
                                        "errorCode": "500"
                                    }
                                }
                            ],
                            "ifTrueActivities": [
                                {
                                    "name": "execute_updated_pipe",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "load_transfer_updated_file",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": false,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "lookup_upd_file",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "search_source4upd",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFolderPath": "details",
                                    "wildcardFileName": "*.gz",
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "input_new_details_gz",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": true
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2022-07-23T13:12:15Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/load_transfer_updated_file')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/yearly_new_tumbling')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "extract_new_file",
                        "type": "PipelineReference"
                    },
                    "parameters": {}
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Month",
                    "interval": 12,
                    "startTime": "2023-04-17T00:00:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 1,
                    "retryPolicy": {
                        "count": 13,
                        "intervalInSeconds": 86400
                    },
                    "dependsOn": []
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/extract_new_file')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/monthly_upd_tumb')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "extract_updated_file",
                        "type": "PipelineReference"
                    },
                    "parameters": {}
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Month",
                    "interval": 1,
                    "startTime": "2022-08-17T00:00:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 1,
                    "retryPolicy": {
                        "count": 10,
                        "intervalInSeconds": 86400
                    },
                    "dependsOn": []
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/extract_updated_file')]"
            ]
        }
    ]
}